@import '../../styles/variables/color';


.container_button {
  .container_busy {
    position: relative;
    .text {
      opacity: 0;
    }
    .icon {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}




.container_arround {
  position: relative;
  border-radius: 50%;
  .container_busy {
    .icon_busy {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .icon {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}

.container_arround.lg {
  height: 40px;
  width: 40px;
}


