.container {
  .container_button {
    padding: 10px;
    button {
      margin: 10px;
    }
  }
  .container_animate {
    padding: 10px;
    .block {
      width: 50px;
      height: 50px;
      background-color: red;
    }
  }
}
