// Global
$background-color: #eee;

// application
$primary-color: #c300ff;
$primary-color-active: #630fa3;
$primary-color-shadow: #d2a2f6;

$secondary-color: #007bff;
$danger-color: #ff0000;
$success-color: #00ff00;
$info-color: #17a2b8;
$wawrning-info: #ffc107;

// text
$text-white: #ffffff;
$text-shadow: #000000;

// loading bar
$loading-bar-color: red;
